@font-face {
    font-family: "Golos Text";
    src: url('../fonts/GolosText-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Golos Text";
    src: url('../fonts/GolosText-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Golos Text";
    src: url('../fonts/GolosText-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: "Kobzar KS";
    src: url('../fonts/kobzarks.otf');
    font-weight: 400;
}

:root {
    --white: #FFFFFF;
    --white-additional: #FFFFFF99;
    --black: #000000;
    --black-additional: #00000099;
    --light-blue-main: #2176FF;
    --light-blue-hover: #0750C6;
    --light-blue-light: #E9F1FF;
    --light-blue-middle: #A2D0FF;

    --Minpromtorg: #1CCAFA;
    --Minpromtorg-hover: #00B3E5;
    --IT: #FF5C26;
    --IT-hover: #EE4C16;
    --Intellectual: #785CFF;
    --Intellectual-hover: #5939F4;
    --Status: #29D2B5;
    --Status-hover: #13BEA1;
    --Money: #EC5547;
    --Money-hover: #DA3B2C;
    --Finance: #FFA60E;
    --Finance-hover: #EA9300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color .3s ease;
}

.flex-column-32 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

html {
    font-family: "Golos Text";
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
    min-width: 360px;
}
.swiper-button-lock {
    display: none !important;
}
section:not(:first-child) {
    margin: 100px 0;
}

.container {
    max-width: 1136px;
    padding: 0 12px;
    margin: 0 auto;
}

.container-l {
    max-width: 1184px;
    padding: 0 12px;
    margin: 0 auto;
}

h1 {
    font-size: 54px;
    line-height: 60px;
    font-weight: 600;
}

h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}

h5 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}

.txt-1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.txt-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.txt-3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.txt-4 {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.color-blue {
    color: var(--light-blue-main);
}

.btn {
    font-family: "Golos Text";

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    height: 55px;
    border-radius: 16px;
    transition: background-color .3s ease;
    color: var(--white);
    cursor: pointer;
    text-align: center;
    padding: 10px 54px;
    border: none;
}

.btn-small {
    height: 50px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.btn-small-x {
    height: 40px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    padding: 10px 30px;
}

.btn-second {
    padding: 10px 42px;
    background-color: var(--light-blue-main);
}

.btn-second:hover {
    background-color: var(--light-blue-hover);
}

.btn-small-s {
    height: 36px;
    border-radius: 12px;
    padding: 8px 42px;
    width: fit-content;
}

.btn-primary {
    background-color: var(--IT);
}

.btn-primary:hover {
    background-color: var(--IT-hover);

}

.btn-size_x {
    height: 60px;
}

input:focus {
    outline: none;
}

input[type="text"],
input[type="email"] {
    font-family: 'Golos Text';
    font-size: 16px;
    font-weight: 400;
    border: none;
    border: 1px solid var(--light-blue-light);
    transition: border .3s ease;
    width: 100%;
    height: 55px;
    padding: 10px 24px;
    border-radius: 16px;
    background-color: var(--light-blue-light);
}

input[type="text"]:focus,
input[type="email"]:focus {
    border: 1px solid var(--IT);

}

.iti--allow-dropdown .iti__selected-flag {
    padding-left: 18px;
}

.iti--allow-dropdown input[type=text] {
    padding-left: 64px;
}

.glass-effect {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    box-shadow:
        inset 0 1px 2px rgba(255, 255, 255, 0.705),
        inset 0 -1px 2px rgba(117, 117, 117, 0.103);
}
.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .5s ease;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    background-color: #00000000;
    z-index: 99;
    display: flex;
    padding: 60px 24px;
    overflow-y: auto;
    pointer-events: none;
}
.modal-overlay.is-open {
     backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
     background-color: #00000048;
     pointer-events: all;
}
.modal-content {
    margin: 0;
    max-width: 576px;
    width: 100%;
    background-color: var(--light-blue-main);
    background-image: url('../images/popup_bg.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px 24px 46px;
    margin: auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--white);

    transition: all .3s ease;
    transform: translateY(-100%);
    opacity: 0;
}
.modal-overlay.is-open .modal-content {
 transform: translateY(0);
    opacity: 1;
}
.modal-close {
    margin-left: auto;
     width: 40px;
    height: 40px;
    border-radius: 40px;
    flex-shrink: 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background: linear-gradient(125deg, #d1d1d100, #ffffff2f);
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.705), inset 0 -1px 2px rgba(117, 117, 117, 0.103);
}
.modal-close::before {
    width: 20px;
    height: 20px;
    background: url('../images/icons/x-01.svg') 50% / contain no-repeat;
    display: block;
    content: '';
}
.modal-form__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}
.modal-form__title p {
max-width: 393px;
color: #FFFFFFCC;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}
.modal-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.modal-form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 16px 24px 0;
}

.header-container {
    width: 100%;
    max-width: 1113px;
    margin: 0 auto;
    padding: 8px;
    border-radius: 16px;
    padding-left: 20px;
    background: #FFFFFFCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.logo-wrapper {
    display: block;
    width: 208px;
    height: 33px;
    flex-shrink: 0;
}

.logo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-btns-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-link {
    flex-shrink: 0;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--light-blue-middle);
    transition: background-color .3s ease;
}

.social-link:hover {
    background-color: var(--light-blue-main);

}

.social-link_tg {
    width: 22.6px;
    height: 18.41px;
    mask-image: url('../images/icons/tg.svg');
}

.social-link_vk {
    width: 26.8px;
    height: 15.9px;
    mask-image: url('../images/icons/vk.svg');
}

.social-link_mail {
    width: 23.44px;
    height: 16.74px;
    mask-image: url('../images/icons/mail.svg');
}

.number-phone-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.number-phone-link:hover {
    color: var(--light-blue-main);
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-nav__item {
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    transition: color .3s ease;
}

.header-nav__item:hover {
    color: var(--light-blue-main);
}

.header-dropmenu {
    display: flex;
    align-items: center;
}

[data-btn="header-menu"] {
    display: flex;
    align-items: center;
    gap: 2px;
}

[data-btn="header-menu"]::after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    transition: transform .3s ease;
    background: url('../images/icons/plus.svg') 50% / contain no-repeat;
}

[data-btn="header-menu"].is-open::after {
    transform: rotate(45deg);
}

.header-menu {
    position: fixed;
    max-width: 943px;
    overflow-y: auto;
    width: calc(100% - 48px);
    z-index: -1;
    top: 90px;
    max-height: calc(100% - 120px);
    padding: 24px;

    left: 50%;
    transform: translateX(-80%) translateY(-50%) scale(0);
    border-radius: 20px;
    background: #FFFFFF99;
    transition: transform .4s ease;
    display: flex;
    align-items: start;
    gap: 25px;
    flex-wrap: wrap;

}

.header-menu>* {
    opacity: 0;
    transition: opacity .2s ease;
}

.header-menu.is-open>* {
    opacity: 1;
    transition: opacity .5s ease;
}

.header-menu.is-open {
    transform: translateX(-50%) translateY(0%) scale(1);
}

.header-menu_column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header-menu_column__img {
    width: 31px;
    height: 31px;
    object-fit: contain;
}

.header-menu_column__title {
    color: var(--black-additional);
}

.header-menu_column__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}

.header-menu_column__list a {
    font-size: 14px;
    line-height: 18px;
}

.header-menu_column__list a:hover {
    color: var(--light-blue-hover);
}

.hero {
    position: relative;
    min-height: 650px;
    padding-top: 111px;
    z-index: 1;
}

.hero__bg-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.breadcrumbs {
    color: var(--black-additional);
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
}

.breadcrumbs a {
    display: flex;
    align-items: center;
    gap: 6px;
}

.breadcrumbs a::after {
    content: '';
    display: block;
    flex-shrink: 0;
    margin-top: 2px;
    width: 5px;
    height: 8px;
    background-color: currentColor;
    mask-image: url('../images/icons/breadcrumb_vector.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
}

.breadcrumbs a:hover {
    color: var(--black);
}

.hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 711px;
    margin: 0 auto;
    margin-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.hero-text {
    max-width: 511px;
    color: var(--black-additional);
}

.stats-content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
}

.stats-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.stats-item p {
    color: var(--black-additional);
}

.count-animated {
    display: inline-block;

}

.count-animated_right {
    text-align: end;
}

.stats-item__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: var(--light-blue-main);
}

.btn_mobile_menu {
    display: none;
    width: 36px;
    cursor: pointer;
    height: 31px;
    background: url('../images/icons/Menu.svg') 50% / contain no-repeat;
}

.mobile-menu-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
    padding: 24px 12px 0;
    background-color: var(--black-additional);
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--white);

    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;

}

.mobile-menu-overlay.is-open {
    opacity: 1;
    pointer-events: all;
}

.logo-wrapper.logo-wrapper_menu {
    width: 224px;
    height: 35px;
}

.mobile-menu-overlay__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
}

.mobile-menu__close {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    flex-shrink: 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background: linear-gradient(125deg, #3a3a3a28, #a5a5a542);
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.705), inset 0 -1px 2px rgba(117, 117, 117, 0.103);
}

.mobile-menu__close::before {
    width: 20px;
    height: 20px;
    background: url('../images/icons/x-01.svg') 50% / contain no-repeat;
    display: block;
    content: '';
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 4px;

    color: var(--white);

}

.mobile-nav__item {
    padding: 16px 0;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    width: fit-content;
    transition: color .3s ease;
}

.mobile-nav__item:hover {
    color: var(--light-blue-main);
}

.mobile-nav__dropdown-title {
    display: flex;
    align-items: center;
    gap: 3px;
}

.mobile-nav__dropdown-title::after {
    width: 18px;
    height: 18px;
    content: '';
    display: block;
    flex-shrink: 0;
    background: url('../images/icons/plus.svg') 50% / contain no-repeat;
    transition: transform .3s ease;
}

.mobile-nav__dropdown {
    display: flex;
    flex-direction: column;
}

.mobile-nav-menu {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 48px 32px;
    padding: 12px;
    padding-bottom: 23px;
    background: #0000001A;
    border-radius: 16px;
}

.mobile-nav__dropdown-content {
    margin-top: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: max-height .5s ease, margin .3s ease, opacity .3s ease;
}

.mobile-nav__dropdown.is-open .mobile-nav__dropdown-content {
    margin-top: 4px;
    opacity: 1;
    height: auto;

}

.mobile-nav__dropdown-content .header-menu_column__title {
    font-weight: 400;
    color: var(--white-additional);
}

.mobile-nav__dropdown.is-open .mobile-nav__dropdown-title::after {
    transform: rotate(45deg);
}

.mobile-menu__content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 48px;
    height: 100%;
    overflow-y: auto;
}

.mobile-menu__content {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.mobile-menu-phone-link {
    width: fit-content;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--white);
}

.mobile-menu__bottom {
    max-width: 500px;
    width: 100%;

    padding: 12px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 33px;
    background: linear-gradient(125deg, #3a3a3a28, #a5a5a542);
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.705), inset 0 -1px 2px rgba(117, 117, 117, 0.103);
}

.mobile-menu__bottom_info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mobile-menu__bottom_grid {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 16px;
}

.mobile-menu__bottom .social-links {
    gap: 30px;
}

.mobile-menu__bottom .social-link {
    height: 48px;
    background-color: var(--white);
}

.mobile-menu__bottom .social-link:hover {
    background-color: var(--light-blue-main);
}

.main section.section_run-stroke {
    overflow: hidden;
    padding: 32px 0 23px;
    margin: 0;



}

.run-stroke__wrapper {
    display: flex;
    align-items: center;
    gap: 77px;
    width: max-content;
    animation: scrollLeft 60s linear infinite;
    will-change: transform;
    -webkit-transform: translateZ(0); /* Аппаратное ускорение */
    transform: translateZ(0);
}

.section_title {
    max-width: 534px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section_title p {
    max-width: 481px;
}

/* 
.section_run-stroke:hover .run-stroke__wrapper {
    animation-play-state: paused;
} */

@keyframes scrollLeft {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.run-stroke__wrapper img {
   width: auto;
    height: auto;
    max-width: 200px;
    flex-shrink: 0;
    display: block;
    transition: transform .8s ease;
     pointer-events: auto; 

}

.run-stroke__wrapper img:hover {
    transform: scale(1.1);
}

.who_need__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.who_need__item {
    padding: 24px;
    border-radius: 30px;
    background: linear-gradient(143.4deg, #2176FF 21.31%, #89BFFF 92.46%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 46px;
    color: var(--white);
}

.who_need__item_top {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.who_need__item-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
}

.who_need__item-list li {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--light-blue-light);
    color: var(--light-blue-hover);
    font-size: 16px;
    line-height: 22px;
}

.who_need__item-list li::before {
    display: block;
    margin-top: 6px;
    content: '';
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: var(--IT);
}

.free-audit-form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 528px;
}

.free-audit-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 449px;
}

.free-audit-info p {
    max-width: 423px;
}

.color-dark-opacity {
    color: var(--black-additional);
}

.free-audit-content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 24px;
}

.form_inputs_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.form_inputs_grid input:first-child {
    grid-column: 1/3;
}

.check-label {
    display: flex;
    align-items: start;
    gap: 16px;
    position: relative;
    z-index: 2;
    width: fit-content;
}

.check-label input {
    position: absolute;
    z-index: -99;
    opacity: 0;
}

.check-label p {
    max-width: 313px;
}
.check-label a:hover {
    color: var(--light-blue-middle);
}
.check-label .color-dark-opacity a:hover {
    color: var(--light-blue-main);
}

.marker-checkbox {
    width: 16px;
    cursor: pointer;
    height: 16px;
    flex-shrink: 0;
    border-radius: 4px;
    background-image: url('../images/icons/Tick_Square.svg');
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.marker-checkbox::before {
    position: absolute;
    z-index: -1;
    width: 14px;
    height: 14px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    background-color: var(--light-blue-light);

}

.check-label input:checked+.marker-checkbox::before {
    background-color: var(--light-blue-main);
}

.three-reasons__content {
    padding: 37px 24px;
    border-radius: 30px;
    background-color: var(--light-blue-light);
}

.three-reasons__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.three-reasons__item {
    position: relative;
    padding: 24px;
    overflow: hidden;
    border-radius: 24px;
    min-height: 399px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: linear-gradient(286.44deg, #89BFFF -6.68%, #287BFF 59.17%);
    color: var(--white);
}

.three-reasons__item-bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .2;
    pointer-events: none;
}

.three-reasons__item-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    z-index: 1;
}

.three-reasons__item-step {
    font-size: 16px;
    line-height: 140%;
    color: #CDE0FF;
    font-weight: 400;
}

.three-reasons__item-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.three-reasons__copy {
    margin-top: auto;
    color: #CDE0FF;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    position: relative;
    z-index: 1;
}

.advantages__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.advantages__item {
    min-height: 285px;
    display: flex;
    position: relative;
    background-color: var(--light-blue-light);
    overflow: hidden;
    padding: 24px;
    border-radius: 30px;

}

.advantages__item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.advantages__item-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
    position: relative;
    z-index: 1;

}

.advantages__item-info p {
    max-width: 364px;
}

.subscription-content {
    display: flex;
    align-items: start;
    gap: 60px;
    padding: 37px 24px;
    border-radius: 30px;
    color: var(--white);
    background-color: var(--light-blue-main);
    position: relative;
    overflow: hidden;
}

.subscription-content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    max-width: 834px;
    width: 100%;
    bottom: 0;
    background: url('../images/bg_sub.png') 50% / cover no-repeat;
}

.subscription-info {
    max-width: 525px;
    width: 100%;
}

.subscription-form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    position: relative;
    z-index: 2;
    max-width: 528px;
    width: 100%;

}



.form_inputs_flex {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.trust__item {
    padding: 12px;
    padding-bottom: 32px;
    min-height: 590px;
    border-radius: 30px;
    background-color: var(--light-blue-light);
    max-width: 548px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.trust__item__head {
    padding: 24px 12px;
    border-radius: 21px;
    background-color: var(--light-blue-middle);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    color: var(--white);
    position: relative;
    overflow: hidden;
    min-height: 139px;
}

.trust__item__title {
    font-size: 36px;
    line-height: 100%;

    font-weight: 500;
    position: relative;

}

.trust__item__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    position: relative;

}

.trust__content-swiper {
    overflow: visible;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

}

.trust {
    overflow: hidden;
}

.trust__content-swiper-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.trust__item__head-logo {
    position: absolute;
    bottom: 15px;
    right: 12px;
    height: auto;
    max-width: 348px;
}

.trust__item__content {
    padding: 0 13px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.trust__item__option {
    display: grid;
    gap: 24px;
    grid-template-columns: 140px auto;
}

.trust__item__option_hint {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    background-color: var(--white);
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.trust__item__line {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.03) 0%, rgba(33, 118, 255, 0.2) 46.41%, rgba(255, 255, 255, 0.03) 100%);
    height: 1px;
}

.option-hint--last {
    background-color: var(--light-blue-main);
    color: var(--white);
}

.custom-pagination,
.swiper .trust__content_pagination {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.custom-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.custom-nav .swiper-pagination-bullet,
.swiper .trust__content_pagination .swiper-pagination-bullet {
    border-radius: 2px;
    height: 2px;
    width: 24px;
    margin: 0 !important;
}

.blog .swiper-pagination-bullet,
.services .swiper-pagination-bullet {
    background-color: var(--light-blue-middle);
    opacity: 1;
}

.custom-nav .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper .trust__content_pagination .swiper-pagination-bullet-active {
    background-color: var(--light-blue-main);
}

.trust__content__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-swiper-nav {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: var(--light-blue-light);
    cursor: pointer;
    transition: background-color .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-swiper-nav::before {
    content: '';
    display: block;
    flex-shrink: 0;
    height: 18px;
    width: 8px;
    margin-left: 3px;
    background: url('../images/icons/swipernav.svg') 50% / contain no-repeat;
}

.custom-swiper-nav:hover {
    background-color: var(--light-blue-middle);

}

.custom-swiper-nav_prev {
    transform: rotate(-180deg);
}

.trust__content-swiper_nav {
    display: flex;
    align-items: center;
    gap: 12px;
}

.swiper-button-disabled {
    pointer-events: none;
    opacity: .4;
}

.steps_container {
    margin-top: 32px;
}

.steps_section {
    overflow: hidden;
}

.steps__slide {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 300px;
    width: 100%;
}

.steps__slide__top {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 8px;
}

.steps__slide_icons {
    display: flex;
    align-items: center;

}

.steps__slide_icons-item {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 24px;
    background-color: var(--light-blue-main);
    animation: pulse 1.5s ease-in-out alternate infinite;
    transform-origin: center;
}
.steps__slide_icons-item:nth-child(1) { animation-delay: 0s; }
.steps__slide_icons-item:nth-child(2) { animation-delay: 0.2s; }
.steps__slide_icons-item:nth-child(3) { animation-delay: 0.4s; }
.steps__slide_icons-item:nth-child(4) { animation-delay: 0.6s; }
.steps__slide_icons-item:nth-child(5) { animation-delay: 0.8s; }
@keyframes pulse {
    0% {
        transform: scale(1);
    }
 
    100% {
        transform: scale(1.3);
        opacity: .8;
    }
}
.steps__slide__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.steps__slide_days {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--black-additional);
}

.swiper-slide__text {
    font-size: 16px;
    line-height: 22px;
    color: var(--black-additional);
}

.steps__slide_icons {
    position: relative;
    z-index: 1;
}

.steps__slide:first-child .steps__slide_icons::before {
    left: 28px;
}

.steps__slide_icons::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: -40px;
    top: 50%;
    height: 1px;
    background-color: var(--light-blue-middle);
}

.steps__slide_finish {
    max-width: 278px;
    width: 100%;
    padding: 24px;
    border-radius: 16px;
    background-color: var(--light-blue-main);
    color: var(--white);
    font-size: 16px;
    line-height: 140%;
    margin-left: -72px;
}

.requirements__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 563px;
}

.koazbar-text {
    font-family: 'Kobzar KS';
}

.requirements_text {
    font-size: 44px;
    line-height: 34px;
    color: var(--light-blue-main);
    max-width: 438px;
    margin-left: auto;
}

.requirements_left {
    padding: 36px 75px 29px 46px;
    background-color: #E9F1FF;
    background-image: url('../images/requirements_bg.png');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

}

.requirements_left__info {
    max-width: 477px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: auto;
}



.requirements__right {
    overflow: hidden;
}

.requirements__swiper {
    height: 100%;
}

.requirements__slide {
    color: var(--white);
    align-items: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(328.09deg, #2176FF 31.64%, #8FC3FF 95.89%);
}

.requirements__slide-info {
    padding: 33px 44px;
    padding-bottom: 100px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.requirements__slide_count {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: var(--light-blue-light);
}

.requirements__slide_desc {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.requirements__slide-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}

.requirements__slide-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.requirements__slide-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 6px 12px 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.requirements__slide-list li::before {
    content: '';
    flex-shrink: 0;
    display: block;
    width: 24px;
    height: 24px;
    background: url('../images/icons/check-square-broken.svg') 50% / contain no-repeat;
}

.requirements__swiper {
    position: relative;
}

.requirements__nav {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.requirements__swiper .requirements_pagination {
    display: flex;
    align-items: center;
    gap: 8px;
}

.requirements__swiper .requirements_pagination .swiper-pagination-bullet {
    margin: 0;
    background-color: var(--light-blue-light);
    width: 50px;
    height: 2px;
    border-radius: 2px;
}

.requirements__nav_btn-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.requirements__nav_btn {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    cursor: pointer;
    background: url('../images/icons/chevron_right.svg');
}

.requirements__nav_btn_prev {
    transform: rotate(180deg);
}

.requirements__slide__text-top {
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    text-align: center;
}

.requirements__slide_red {
    background: linear-gradient(311.53deg, #FF5C26 26.2%, #FF9B79 91.55%);

}

.requirements__slide_red .requirements__slide-info {
    padding-top: 61px;
}

.prices-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.prices-item {
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--light-blue-light);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.prices-item__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.prices-item__list li {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    padding-bottom: 24px;
    color: var(--black-additional);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.prices-item__list li::before {
    width: 24px;
    height: 24px;
    content: '';
    display: block;
    flex-shrink: 0;
    background: url('../images/icons/check-square-broken_red.svg') 50% / contain no-repeat;
}

.prices-item__list li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 9px;
    height: 1px;
    background-color: var(--light-blue-middle);
}

.prices-item__price {
    margin-top: auto;
    padding-top: 26px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}

.prices-item__top {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.prices-item_subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: var(--black-additional);
}

.prices__botoom {
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    border-radius: 16px;
    background-color: var(--light-blue-light);

}

.prices__botoom h3 {
    max-width: 624px;
}

.prices__botoom .btn {
    max-width: 300px;
    width: 100%;
}

.recommended_card {
    max-width: 351px;
    height: auto;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--light-blue-light);
    border-radius: 30px;
}

.recommended_card__profile {
    width: 91px;
    height: 91px;
    border-radius: 50%;
    overflow: hidden;
    background: url('../images/avatar_pref.jpg') 50% / contain no-repeat;
}

.recommended_card__profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recommended_card__author {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.recommended_card__author span {
    font-size: 16px;
    line-height: 22px;
    color: var(--black-additional);
}

.recommended__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.recommended__text {
    font-size: 14px;
    line-height: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    -webkit-line-clamp: 8;
}

.more_text {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--light-blue-main);
}

.recommended__text-wrapper.is-open .recommended__text {
    -webkit-line-clamp: unset;
    display: block;
}

.recommended {
    overflow: hidden;
}

.recommended_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recommended_nav_btn-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.recommended_nav_btn_prev {
    transform: rotate(-180deg);
}

.team_wrapper {
    padding: 37px 24px 43px;
    background-color: var(--light-blue-main);
    color: var(--white);
    background-image: url('../images/team_bg.png');
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    overflow: hidden;
}

.team .section_title {
    max-width: 630px;
}

.team__kazban-text {
    font-weight: 400;
    font-size: 44px;
    line-height: 34px;
    color: var(--light-blue-middle);
}

.team .section_title p {
    max-width: 578px;
    color: var(--white-additional);
}

.team_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team_nav_btn-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.team_nav_btn_prev {
    transform: rotate(-180deg);
}

.team_card {
    max-width: 266px;
    width: 100%;
    height: auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 24px;
}

.team_card_img-wrapper {
    width: 100%;
    aspect-ratio: 250 / 262;
    border-radius: 23px;
    overflow: hidden;
}

.team_card_img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team_name {
    color: var(--black);
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.team .team_wrapper .swiper-pagination-bullet {
    background-color: var(--white-additional);
    opacity: 1;
}

.team .team_wrapper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--light-blue-main);
}

.faq__container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 24px;
}

.faq h2 {
    max-width: 380px;
}

.faq__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 631px;
    width: 100%;
}

.faq-item {
    padding: 24px;
    border-radius: 24px;
    display: flex;
    padding-right: 74px;
    align-items: center;
    background-color: var(--light-blue-light);
    transition: all .3s ease;
    cursor: pointer;
    position: relative;
}

.faq-item::after {
    transition: all .3s ease;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%) rotate(0);
    content: '';
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    background: url('../images/icons/faq-icons.svg') 50% / contain no-repeat;
}

.faq-item__hidden {
    margin-top: 0;
    font-size: 16px;
    line-height: 22px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease;
    color: var(--black-additional);
}

.faq-item.is-open {
    padding: 12px 24px;
    padding-right: 74px;

}

.faq-item.is-open::after {
    transform: translateY(0) rotate(45deg);
    top: 12px;

}

.faq-item.is-open .faq-item__hidden {
    margin-top: 8px;
    opacity: 1;
    max-height: 600px;

}

.banner_questions__content {
    min-height: 385px;
    overflow: hidden;
    padding: 37px 24px 26px;
    border-radius: 30px;
    background-color: var(--light-blue-main);
    background-image: url('../images/banner_questions.png');
    background-size: cover;
    background-position: center;
    position: relative;
    color: var(--white);
    display: flex;
}

.banner_quest_img {
    width: 341px;
    height: 385px;
    bottom: 0;
    position: absolute;
    left: 547px;
}

.banner_questions__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-width: 449px;
    position: relative;
    z-index: 3;
}

.banner_questions__info_top {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.banner_questions__info_top p {
    color: var(--white-additional);
    max-width: 397px;
}

.banner_img_info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: absolute;
    top: 110px;
    right: 87px;
}

.banner_img_info .koazbar-text {
    font-size: 32px;
    line-height: 96%;
}

.banner_links {
    display: flex;
    align-items: center;
    gap: 12px;
}

.banner_link {
    width: 70px;
    height: 70px;
    background-color: var(--IT);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s ease;
}

.banner_link:hover {
    background-color: var(--IT-hover);
}

.banner_link::before {
    content: '';
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--white);


}

.banner_link_tg::before {
    width: 23px;
    height: 19px;
    mask-image: url('../images/icons/tg.svg');
}

.banner_link_vk::before {
    width: 27px;
    height: 16px;
    mask-image: url('../images/icons/vk.svg');
}

.banner_link_mail::before {
    width: 24px;
    height: 17px;
    mask-image: url('../images/icons/mail.svg');
}

.services {
    overflow: hidden;
}

.services .section_title {
    max-width: 579px;
}

.services_nav_btn-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.services_nav_btn_prev {
    transform: rotate(180deg);
}

.services_card {
    max-width: 351px;
    width: 100%;
    min-height: 280px;
    background-color: var(--light-blue-light);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 24px;
}

.services_card_img {
    width: 31px;
    height: 31px;
    flex-shrink: 0;
    object-fit: contain;
}

.services_card__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.services_card__info p {
    color: var(--black-additional);
    font-size: 16px;
    line-height: 22px;
}

.services_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner_recomend__wrapper {
    padding: 37px 24px;
    background-color: var(--light-blue-main);
    border-radius: 30px;
    min-height: 313px;
    background-image: url('../images/banner_recom_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    color: var(--white);
}

.banner_recomend__info {
    max-width: 449px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.banner_recomend__info p {
    color: var(--white-additional);
    font-size: 16px;
    line-height: 22px;
}

.banner_recomend__bottom {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 36px;
    max-width: 408px;

}

.banner_recomend__img {
    width: 100%;
    aspect-ratio: 407/105;
    object-fit: contain;
}

.blog .section_title {
    max-width: 406px;
}

.blog-section__top {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px 30px;
}

.blog-section__top h2 {
    grid-column: 1;
    grid-row: 1;
}

.blog-section__top p {
    grid-column: 1;
    grid-row: 2;
    max-width: 406px;
}

.blog-section__top .btn {
    grid-row: 1 / 3;
    margin-top: auto;
    margin-left: auto;
}

.blog_nav_btn-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.blog_nav_btn_prev {
    transform: rotate(180deg);
}

.blog {
    overflow: hidden;
}

.blog-card {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 351px;
    width: 100%;
}

.blog-card__bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.blog-card__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    font-size: 16px;
    line-height: 22px;
    color: var(--black-additional);
}

.blog-card__top {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.blog-card__img-wrapper {
    width: 100%;
    aspect-ratio: 351 / 174;
    border-radius: 24px;
    overflow: hidden;
}

.blog-card__img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .6s ease;
}

.blog-card__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 18px;
    color: var(--black-additional);
}

.blog-card__hint {
    padding: 6px 12px;
    border-radius: 20px;
    background-color: #f8f8f8;
}

.blog-card h4 {
    transition: color .3s ease;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

.blog-card:hover h4 {
    color: var(--light-blue-main);
}

.blog-card:hover .blog-card__img-wrapper img {
    transform: scale(1.05);
}

.banner_social__wrapper {
    padding: 37px 25px;
    border-radius: 30px;
    background-color: var(--light-blue-main);
    background-image: url('../images/banner_social_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    flex-wrap: wrap;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px 60px;
}

.banner_social__wrapper h2 {
    margin-right: 40px;
    max-width: 330px;
}

.banner_social__koazbar {
    font-size: 40px;
    line-height: 96%;
    max-width: 360px;
    width: 100%;
}

.footer-wrapper {
    padding: 34px 24px 43px;
    margin-bottom: 16px;
    border-radius: 30px;
    background-color: var(--black);
    background-image: url('../images/footer_bg.png');
    background-position: center bottom;
    background-size: cover;
    color: var(--white);
}

.footer-wrapper a:not(.btn):hover {
    color: var(--light-blue-main);
}

.footer_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    min-height: 241px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 19px;
    padding: 20px;
    border-radius: 24px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    /* background: linear-gradient(125deg, #3a3a3a28, #a5a5a513); */
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.705), inset 0 -1px 2px rgba(117, 117, 117, 0.103);

}

.footer__contact_top {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__mail {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.footer__links {
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer__links_item {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    transition: color .3s ease;
    width: 48px;
    height: 48px;
}

.footer__links_item:hover {
    color: var(--light-blue-main);
}

.footer__links_item::after {
    mask-position: center;
    background-color: currentColor;
    content: '';
    display: block;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.footer__links_item_tg::after {
    width: 23px;
    height: 19px;
    mask-image: url('../images/icons/tg.svg');
}

.footer__links_item_vk::after {
    width: 27px;
    height: 16px;
    mask-image: url('../images/icons/vk.svg');
}

.footer__links_item_mail::after {
    width: 24px;
    height: 17px;
    mask-image: url('../images/icons/mail.svg');
}

.footer__contact_phone-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 28px;

}

.footer__contact_phone {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

.footer__contact_phone-wrapper .btn {
    padding: 8px 21px;
}

.footer_adress {
    font-size: 16px;
    line-height: 22px;
}

.footer_map {
    border-radius: 24px;
    overflow: hidden;
}

.footer_nav {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 0;
    gap: 67px 32px;
}

.footer_nav .header-menu_column__title {
    color: #FFFFFFCC;
}

.footer_bottom {
    color: #FFFFFFCC;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px 24px;
}

@media (max-width:1200px) {
    .logo-wrapper {
        width: 177px;
        height: 28px;
    }

    .header-container {
        padding: 8px;
    }

    .social-links,
    .header-btns-container,
    .header-nav {
        gap: 14px;
    }

    .header .number-phone-link {
        display: none;
    }

    .banner_quest_img {
        left: auto;
        right: 80px;
    }

    .banner_img_info {
        z-index: 2;
        top: auto;
        bottom: 24px;
        right: 24px;
    }

    .footer_nav {
        justify-content: start;
    }
}

@media (max-width:1000px) {
    section:not(:first-child) {
        margin: 80px 0;
    }

    .main section.section_run-stroke {
        padding: 21px 0 0;
        margin: 0;

    }

    .run-stroke__wrapper img {
        max-width: 150px;
    }

    .run-stroke__wrapper {
        height: 54px;
    }

    .header-menu,
    .header-nav,
    .header-btns-container {
        display: none;
    }

    .header-container {
        padding: 12px;
        padding-right: 16px;
    }

    .btn_mobile_menu {
        display: block;
    }

    .stats-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 32px;
    }

    .who_need__item_top br {
        display: none;
    }

    .free-audit-form {
        max-width: none;
        width: 100%;
    }

    .form_inputs_grid {
        grid-template-columns: 1fr;
    }

    .form_inputs_grid input:first-child {
        grid-column: auto;
    }

    .three-reasons__content {
        padding: 24px;
    }

    .three-reasons__grid {
        gap: 9px;
        grid-template-columns: 1fr 1fr;
    }

    .three-reasons__item {
        min-height: 399px;
    }

    .three-reasons__item:last-child {
        grid-column: 1 / 3;
        max-width: 430px;
        margin: 0 auto;
    }

    .trust__content-swiper-wrapper {
        display: flex;
        gap: 0;
    }

    .trust__item__head {
        min-height: 115px;
    }

    .trust__item__head-logo {
        opacity: .3;
    }

    .requirements__container {
        min-height: auto;
        grid-template-columns: 1fr;
    }

    .requirements_left__info {
        margin: 0;
    }



    .requirements_left {
        padding: 30px 12px;
    }

    .requirements__slide-info {
        padding: 25px 12px 100px;
        gap: 13px;
    }

    .requirements__slide_desc {
        gap: 11px;
    }

    .requirements__slide-list li {
        padding: 9px 0;
    }

    .prices-grid {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .requirements_text {
        font-size: 36px;
        line-height: 34px;
        max-width: 350px;
    }

    .faq__container {
        display: flex;
        flex-direction: column;
    }

    .faq__content {
        max-width: none;
    }

    .faq-item__content {
        max-width: 600px;
    }

    .footer_row {
        grid-template-columns: 1fr;
        min-height: auto;
        grid-template-rows: 229px 229px;
    }


}

@media (max-width:768px) {
    h1 {
        font-size: 30px;
        line-height: 32px;
    }

    h2 {
        font-size: 28px;
        line-height: 32px;
    }

    .flex-column-32 {
        gap: 24px;
    }

    .txt-1 {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
    }

    .hero-content h1 {
        max-width: 311px;
    }

    .hero-content {
        max-width: 351px;
        gap: 24px;
    }

    .stats-item__title {
        font-size: 30px;
        line-height: 32px;
    }

    .stats-item p {
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
    }

    .who_need__content {
        grid-template-columns: 1fr;
    }

    .who_need__item {
        gap: 24px;
    }

    .free-audit-content {
        display: flex;
        flex-direction: column;
    }

    .three-reasons__grid {
        grid-template-columns: 1fr;
    }

    .three-reasons__item:last-child {
        grid-column: auto;
        max-width: none;
        margin: 0;
    }

    .advantages__grid {
        gap: 8px;
        grid-template-columns: 1fr;
    }

    .advantages__item {
        min-height: auto;
    }
.run-stroke__wrapper {
    gap: 50px;
}
    .subscription-content {
        flex-direction: column;
        gap: 24px;
        padding: 24px;
    }

    .subscription-form {
        max-width: none;
    }

    .subscription-content::before {
        height: 240px;
        top: auto;
        bottom: 0;
    }

    .trust__item__option {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .trust__item__option_hint {
        width: 140px;
    }

    .trust__item {
        min-height: auto;
        height: auto;
    }

    .trust__item__content {
        padding: 0;
    }

    .requirements__slide-title {
        font-size: 28px;
        line-height: 32px;
    }



    .prices__botoom {
        flex-direction: column;
        align-items: stretch;
    }

    .prices-item__price {
        font-size: 28px;
        line-height: 32px;
        padding-top: 7px;
    }

    .prices__botoom h3 {
        font-size: 18px;
        line-height: 24px;
        max-width: 400px;
    }

    .prices__botoom .btn {
        max-width: none;
    }

    .team__kazban-text {
        font-size: 36px;
    }

    .faq-item::after {
        width: 32px;
        height: 32px;
        right: 24px;
        top: 24px;
        transform: translateY(0) rotate(0);
        background: url('../images/icons/faq_icon-mini.svg') 50% / contain no-repeat;
    }

    .faq-item.is-open::after {
        top: 24px;
    }

    .faq-item.is-open {
        padding: 24px;
        padding-right: 68px;

    }

    .faq-item {
        padding-right: 68px;
    }

    .banner_questions__content {
        min-height: none;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }

    .banner_questions__info {
        padding: 36px 24px 0;
    }

    .banner_quest_img {
        position: static;
        margin-left: auto;
        object-fit: contain;
        height: auto;
        max-width: 351px;
        speak-as: 351/385;
        width: 100%;
    }

    .banner_img_info {
        left: 24px;
        bottom: 22px;
        right: auto;
    }

    .banner_questions__content::after {
        position: absolute;
        left: 0;
        content: '';
        right: 0;
        bottom: 0;
        height: 200px;
        background: linear-gradient(to bottom, rgba(33, 118, 255, 0), #2176fffa);

    }

    .banner_recomend__wrapper {
        flex-direction: column;
        align-items: start;
        padding: 24px;
    }

    .banner_recomend__bottom {
        gap: 24px;
    }

    .blog-section__top .btn {
        grid-row: 1;
        grid-column: 2;
    }

    .blog-section__top p {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .banner_social__wrapper {
        gap: 24px;
    }

    .banner_social__koazbar {
        font-size: 36px;
        line-height: 36px;
        width: 100%;
        max-width: none;
    }

    .banner_social__wrapper .banner_link {
        width: 52px;
        height: 52px;
        border-radius: 15px;
    }

    .footer_row {
        grid-template-rows: auto;
        gap: 8px;
    }

    .footer__contact_phone,
    .footer__mail {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    .footer__contact_phone-wrapper {
        gap: 7px;
    }

    .footer__contact_phone-wrapper .btn {
        height: 31px;
        padding: 6px 9px;
        font-size: 14px;
        font-weight: 500;
    }

    .footer_map {
        min-height: 198px;
    }

    .footer-wrapper {
        padding: 57px 20px 24px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../images/footer_bg_mob.png');
    }

    .footer__contact {
        padding: 12px;
        border-radius: 16px;
        gap: 19px;
    }
}

@media (max-width:400px) {
    .mobile-menu__bottom_grid {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}